{% extends 'authbase.html' %}


{% block title %}
Password Change
{% endblock title %}



{% block body %}
<div class="row">
    <div class="col-4 "></div>
    <div class="col-4 mt-5">
        <div class="card">
            <div class="card-header h5">
                Password Change
            </div>
            <div class="card-body">
                <div class="row p-2">
                    <!-- Message Display -->
                    <div class="row">
                        <div class="col">
                            {% if messages %}
                            {% for message in messages %}
                            <div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
                                {{message}}
                                <button type="button" class="btn-close" data-dismiss="alert"
                                    aria-label="Close"></button>
                            </div>
                            {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                    <!-- Error Display -->
                    <div class="row">
                        <div class="col">
                            {% if form.errors %}
                            {% for field in form %}
                            {% for error in field.errors %}
                            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                {{error}}
                                <button type="button" class="btn-close" data-dismiss="alert"
                                    aria-label="Close"></button>
                            </div>
                            {% endfor %}
                            {% endfor %}
                            {% endif %}

                        </div>
                    </div>
                    <form action="" method="POST" novalidate>
                        {% csrf_token %}
                            <div class="mb-3">
                                {{form.old_password}}
                            </div>
                            <div class="mb-3">
                                {{form.new_password1}}
                            </div>
                            <div class="mb-3">
                                {{form.new_password2}}
                            </div>
                        
                            
                        
                        
                        <div class="mb-3 float-right">
                            <a href="{% url 'dashboard' %}" class="btn btn-warning" type="submit">Dashboard</a>
                            <button class="btn btn-primary" type="submit">Change Password</button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock body %}